.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;

  .video-section {
    display: flex;
    flex-direction: row;
    height: 40%;

    .room_lobby {
      display: flex;
      width: 100%;
      border: 1px solid #6e6e6e;
      border-top: none;
    }
  }
  .editor-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: 60%;
  }
  .code-editor-title {
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
    color: #333e5a;
  }
  .remote_label,
  .room_label {
    font-weight: bold;
    color: #333e5a;
  }
  .heading-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-context {
    padding: 10px 0;
  }
  .code-editor {
    height: 100%;
    padding: 10px;
    background-color: #f3f3f3;
  }
}

.menu-options {
  display: flex;
}

.image-icon {
  padding-right: 30px;
}
